* {
  box-sizing: border-box; }

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

.main {
  max-width: 1600px;
  margin: 0 auto; }

nav {
  height: 80px;
  width: 100%;
  display: flex; }
  nav .nav-item2 {
    position: relative;
    width: 25%;
    background: #000;
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff; }
    nav .nav-item2 button {
      color: #fff;
      background: transparent;
      border: 0px;
      margin-left: 30px; }
    nav .nav-item2 span.nav-item2-span {
      color: #fff;
      font-size: 26px;
      margin-left: 20px; }
    nav .nav-item2 .nav-item2-show {
      display: none;
      width: 100%;
      background: #fff;
      color: #000;
      position: absolute;
      z-index: 10;
      bottom: -132%;
      widows: 100%; }
  nav .nav-item1 {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px; }
    nav .nav-item1 .nav-item1-social {
      padding-right: 15px; }
      nav .nav-item1 .nav-item1-social a {
        color: #000;
        margin: 15px;
        text-decoration: none; }

header {
  background: url(../img/images/8-desktop_02.png);
  background-size: cover;
  background-position: center;
  height: 600px;
  color: #fff;
  display: flex;
  justify-content: center; }
  header .header-wrapper h1,
  header .header-wrapper h3 {
    text-align: center; }
  header .header-wrapper h3 {
    margin-top: 160px;
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-bottom: 0px; }
  header .header-wrapper h1 {
    font-size: 72px;
    margin-top: 20px;
    margin-bottom: 40px; }
  header .header-wrapper h3::before,
  header .header-wrapper h3::after {
    content: '';
    border: 0.5px solid #fff;
    display: flex;
    background: #fff;
    margin: 5px;
    flex-grow: 1; }
  header .header-wrapper .btn-header {
    width: 204px;
    height: 50px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin: 0 auto;
    display: block;
    border-radius: 20px; }

.progress-site {
  padding-top: 50px;
  padding-bottom: 50px; }

.wrapper {
  max-width: 1160px;
  margin: 0 auto; }

.wrapper-item {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .wrapper-item .progress-site-item {
    max-width: 228px; }
    .wrapper-item .progress-site-item .el-progress-circle {
      width: 223px !important;
      height: 223px !important;
      font-size: 50px; }
    .wrapper-item .progress-site-item .el-progress__text {
      font-size: 30px !important;
      font-weight: bold;
      color: #152b3c; }
  .wrapper-item .progress-site-item {
    text-align: center; }
    .wrapper-item .progress-site-item p {
      margin-top: 50px; }

.back1 {
  background: url(../img/images/back1_02.png);
  background-position: center;
  background-size: cover;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center; }

.back2 {
  background: url(../img/images/tlo2.png);
  background-position: center;
  background-size: cover;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center; }

.wrapper-section {
  width: 1020px;
  height: 200px;
  border: 0.5px solid #fff; }
  .wrapper-section h3 {
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #fff;
    margin-bottom: 0px;
    margin-top: 60px; }
  .wrapper-section h3::before,
  .wrapper-section h3::after {
    content: '';
    border: 0.5px solid #fff;
    display: flex;
    margin: 5px;
    flex-grow: 1; }
  .wrapper-section h2 {
    text-align: center;
    color: #fff;
    font-size: 48px;
    margin-top: 8px; }
  .wrapper-section .wrapper-section-item {
    width: 280px;
    margin: 0 auto;
    justify-content: center; }

.portfolio {
  padding: 50px; }
  .portfolio .row {
    max-width: 1080px;
    margin: 0 auto;
    max-height: 300px;
    display: flex;
    height: auto;
    flex-wrap: wrap; }
  .portfolio .row-item {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .portfolio .row-item img {
      max-width: 100%;
      transition: 0.5s; }
      .portfolio .row-item img:hover {
        transform: scale(1.1);
        transition: 0.5s; }
    .portfolio .row-item .row-item-content {
      border: 1px solid #fff;
      height: 80%;
      width: 95%;
      position: absolute;
      top: 50%;
      left: 53%;
      border-right: 0px;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center; }
  .portfolio .row-item2 {
    position: relative;
    width: 50%; }
    .portfolio .row-item2 .row-item-content {
      border: 1px solid #000;
      height: 80%;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      border-left: 0px;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .portfolio .row-item2 .row-item-content p {
        text-align: center;
        font-size: 20px; }
      .portfolio .row-item2 .row-item-content h3 {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
        font-size: 36px; }
      .portfolio .row-item2 .row-item-content h3::after {
        content: "SENIOR GRAPHIC DESIGNER";
        display: block;
        font-size: 16px;
        font-weight: lighter;
        border-bottom: 1px solid red;
        padding-bottom: 5px; }
  .portfolio .row-item22 {
    position: relative;
    width: 50%; }
    .portfolio .row-item22 .row-item-content {
      border: 1px solid #000;
      height: 80%;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      border-right: 0px;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .portfolio .row-item22 .row-item-content p {
        text-align: center;
        font-size: 20px; }
      .portfolio .row-item22 .row-item-content h3 {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
        font-size: 36px; }
      .portfolio .row-item22 .row-item-content h3::after {
        content: "SENIOR GRAPHIC DESIGNER";
        display: block;
        font-size: 16px;
        font-weight: lighter;
        border-bottom: 1px solid red;
        padding-bottom: 5px; }
  .portfolio .row-item11 {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    .portfolio .row-item11 img {
      max-width: 100%; }
    .portfolio .row-item11 .row-item-content {
      border: 1px solid #fff;
      height: 80%;
      width: 95%;
      position: absolute;
      top: 50%;
      left: 47.5%;
      border-left: 0px;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center; }

.portfolio-project .row {
  display: flex; }
  .portfolio-project .row figure {
    position: relative;
    margin: 0px; }
    .portfolio-project .row figure .mask {
      position: absolute;
      z-index: 10;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(184, 184, 184, 0.6); }
      .portfolio-project .row figure .mask:hover {
        opacity: 0;
        transition: 0.2s; }
  .portfolio-project .row img {
    width: 100%;
    height: 100%; }
